In [1]:
import pandas as pd

In [2]:
df0 = pd.read_csv('spacex_launch_dash.csv')

In [3]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                56 non-null     int64
 1   Flight Number             56 non-null     int64
 2   Launch Site               56 non-null     object
 3   class                     56 non-null     int64
 4   Payload Mass (kg)         56 non-null     float64
 5   Booster Version           56 non-null     object
 6   Booster Version Category  56 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 3.2+ KB

In [4]:
df0.head(20)

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0
5,5,7,CCAFS LC-40,0,3170.0,F9 v1.1,v1.1
6,6,8,CCAFS LC-40,0,3325.0,F9 v1.1,v1.1
7,7,9,CCAFS LC-40,0,2296.0,F9 v1.1,v1.1
8,8,10,CCAFS LC-40,0,1316.0,F9 v1.1,v1.1
9,9,11,CCAFS LC-40,0,4535.0,F9 v1.1,v1.1
10,10,12,CCAFS LC-40,0,4428.0,F9 v1.1 B1011,v1.1
11,11,13,CCAFS LC-40,0,2216.0,F9 v1.1 B1010,v1.1
12,12,14,CCAFS LC-40,0,2395.0,F9 v1.1 B1012,v1.1
13,13,15,CCAFS LC-40,0,570.0,F9 v1.1 B1013,v1.1
14,14,16,CCAFS LC-40,0,4159.0,F9 v1.1 B1014,v1.1
15,15,17,CCAFS LC-40,0,1898.0,F9 v1.1 B1015,v1.1
16,16,18,CCAFS LC-40,0,4707.0,F9 v1.1 B1016,v1.1
17,17,19,CCAFS LC-40,1,1952.0,F9 v1.1 B1018,v1.1
18,18,20,CCAFS LC-40,1,2034.0,F9 FT B1019,FT
19,19,22,CCAFS LC-40,0,5271.0,F9 FT B1020,FT

In [5]:
df1 = df0[['Launch Site','class']]
df1.head(10)

   Launch Site  class
0  CCAFS LC-40      0
1  CCAFS LC-40      0
2  CCAFS LC-40      0
3  CCAFS LC-40      0
4  CCAFS LC-40      0
5  CCAFS LC-40      0
6  CCAFS LC-40      0
7  CCAFS LC-40      0
8  CCAFS LC-40      0
9  CCAFS LC-40      0

In [6]:
mask = df1['Launch Site'] == 'CCAFS LC-40'
df2 = df1[mask]
df2.head(20)

    Launch Site  class
0   CCAFS LC-40      0
1   CCAFS LC-40      0
2   CCAFS LC-40      0
3   CCAFS LC-40      0
4   CCAFS LC-40      0
5   CCAFS LC-40      0
6   CCAFS LC-40      0
7   CCAFS LC-40      0
8   CCAFS LC-40      0
9   CCAFS LC-40      0
10  CCAFS LC-40      0
11  CCAFS LC-40      0
12  CCAFS LC-40      0
13  CCAFS LC-40      0
14  CCAFS LC-40      0
15  CCAFS LC-40      0
16  CCAFS LC-40      0
17  CCAFS LC-40      1
18  CCAFS LC-40      1
19  CCAFS LC-40      0

In [7]:
df3 = df2.groupby(['class']).count()
df3

       Launch Site
class
0               19
1                7